# ==========================================
# [데이터베이스 연결 설정]
# ==========================================
DB_HOST=localhost
DB_PORT=3306
DB_NAME=shelter_db
DB_USER=root
DB_PASSWORD=본인DB비밀번호

# ==========================================
# [서울 열린데이터광장 OpenAPI KEY 설정]
# ==========================================
# 서울 열린데이터광장(data.seoul.go.kr) 발급 인증키 (테스트 시 'sample' 입력 가능)
API_KEY=발급받은_공습대피소_인증키
EARTHQUAKE_API_KEY=발급받은_지진대피소_인증키